<app-navbar></app-navbar>
<app-carousel></app-carousel>

<app-below-carousel></app-below-carousel>



  <div class="container marketing">



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Les Universités privées,agréées par le ministère de l'enseignement supérieur et de la recherche scientiﬁque</h2>
        <span class="text-muted"></span>
        <p class="lead">  se trouvent à : Université Tunis , Université Nabeul , Université Sfax , Université Sousse , Monastir , Université Gabes , Université Gafsa et à Université Kairouan</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/itbs-etudiant-ecole-superieure-tunisie-1.jpg" role="img" aria-label="Placeholder: 500x500">
      </div>
      <a routerLink="/listUniversite" routerLinkActive="router-link-active" class="btn btn-primary my-2">en savoir plus</a>

    </div>


    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Les Universités privées </h2>
        <span class="text-muted"></span>
        <p class="lead">Son objectif est d’assurer une formation de qualité, conformément aux règles et traditions de la transmission des savoirs et des exigences de la science moderne, dans le cadre d’une stratégie de développement de la société.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/Visite-Bourse-de-Tunis-ITBS.jpg" role="img" aria-label="Placeholder: 500x500">
      </div>
      <a routerLink="/listUniversite" routerLinkActive="router-link-active" class="btn btn-primary my-2">en savoir plus</a>

    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  





<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url('assets/img/sunrise-1756274_1280.webp');">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal"style=" color: white; ">Les meilleures universités privées en Tunisie :</h1>
      <p class="lead font-weight-normal"style=" color: white; "> Si vous ne savez pas quelle université vous devriez choisir,
        Ce site vous aidera à trouver facilement toutes les informations sur les universités privées les mieux classées en Tunisie.</p>
      <a class="btn btn-outline-secondary"routerLink="/listUniversite">en savoir plus</a>
    </div>

    
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
  


<app-footer></app-footer>