    
      <div class="container marketing mt-4 mb-5">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-3">
            <img  class="bd-placeholder-img rounded-circle" src="assets/img/home-office-4996834_1280.webp" width="140" height="140"  alt="...">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img  class="bd-placeholder-img rounded-circle" src="assets/img/people-2557396_1280.webp" width="140" height="140"  alt="...">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img  class="bd-placeholder-img rounded-circle" src="assets/img/book-841171_1280.jpg" width="140" height="140"  alt="...">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img  class="bd-placeholder-img rounded-circle" src="assets/img/boy-5731001_1280.webp" width="140" height="140"  alt="...">
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
